## Limpeza e Tratamento dos Dados

In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

Leitura do dataset e de suas primeiras cinco linhas para entender os dados

In [78]:
df = pd.read_csv("heart_disease_uci.csv")
df.head(5)

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

Dropar a coluna 'ca' e a 'thal' que possui muitos valores nulos e não considero uma coluna tão relevante por enquanto

In [79]:
df.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,861.000000,890.000000,865.000000,858.000000,309.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.676375,0.995652
std,265.725422,9.424685,19.066070,110.780810,25.926276,1.091226,0.935653,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,175.000000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,223.000000,140.000000,0.500000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,268.000000,157.000000,1.500000,1.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [97]:
df['trestbps'] = df['trestbps'].replace(0, np.nan)
df['trestbps'] = df['trestbps'].replace(0, df['trestbps'].mean())
(df['trestbps'] == 0).sum()
df['chol'] = df['chol'].replace(0, np.nan)
df['chol'] = df['chol'].replace(0, df['chol'].mean())
(df['chol'] > 400).sum()

13

In [82]:
df.isna().mean().sort_values(ascending=False)
# Análise da limpa de dados

ca          0.664130
thal        0.528261
slope       0.335870
chol        0.219565
fbs         0.097826
oldpeak     0.067391
trestbps    0.065217
thalch      0.059783
exang       0.059783
restecg     0.002174
id          0.000000
age         0.000000
sex         0.000000
dataset     0.000000
cp          0.000000
num         0.000000
dtype: float64

In [83]:
df.drop(columns=['ca'], inplace=True)
df.drop(columns=['thal'], inplace=True)

Analisar se o dataset tem valores não únicos, ex: 'Female' e 'F'
Análise de booleanos com: erro de digitação, categorias inesperadas ou outra inconsistência.

In [84]:
for i in ['sex', 'dataset', 'cp', 'exang', 'fbs', 'restecg', 'slope']: # ...
    print(df[i].unique())

['Male' 'Female']
['Cleveland' 'Hungary' 'Switzerland' 'VA Long Beach']
['typical angina' 'asymptomatic' 'non-anginal' 'atypical angina']
[False True nan]
[True False nan]
['lv hypertrophy' 'normal' 'st-t abnormality' nan]
['downsloping' 'flat' 'upsloping' nan]

In [85]:
dados = df.columns[df.isna().any()]
for i in dados:
    moda = df[i].mode()[0]
    df[i].fillna(moda, inplace=True)

#Deletei 2 colunas com mais de 35% de valores nulos, restante eu preenchi (imputei) com moda ou média,

C:\Users\Julia\AppData\Local\Temp\ipykernel_18920\2911446222.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(moda, inplace=True)
C:\Users\Julia\AppData\Local\Temp\ipykernel_18920\2911446222.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[i].fillna(moda, inplace=True)

In [86]:
#df.groupby('age')['num'].mean().sort_values(ascending = False)

In [ ]:
df['Cardio'] = df['num'].apply(lambda x: True if x == 0 else False)
# Criação de uma nova coluna "doente" e "não doente"
#df.drop('cardiac', axis=1, inplace=True)

def df_cardiac_levels(x):
    if x < 130:
        return 'Normal'
    elif 130 <= x <= 139:
        return 'Limítrofe'
    elif 140 <= x <= 159:
        return 'Leve HT'
    elif 160 <= x <= 179:
        return 'Moderado HT'
    elif 180 <= x:
        return 'Grave HT'

def df_HT_cardiac(x):
    if x < 140:
        return 'False'
    else:
        return 'True'

df['PAS'] = df['trestbps'].apply(df_cardiac_levels)
df['HT'] = df['trestbps'].apply(df_HT_cardiac)
# Criação de duas novas colunas: a) Níveis de Hipertensão PAS (Pressão Arterial Sistólica), b) Binário Hipertensão
# Deixar link de bibliografia

In [ ]:
# Dropei coluna 'trestbps'
#df.drop('trestbps', axis=1, inplace=True)

In [89]:
def df_colest(x):
    if x < 200:
        return 'Normal'
    elif x < 240:
        return 'Limítrofe'
    else:
        return 'Alto'

df['colest'] = df['chol'].apply(df_colest)
#df.drop('chol', axis=1, inplace=True)
# Criação da coluna colesterol

In [90]:
# thalach = 220 - idade

df['bpm'] = df['age'].apply(lambda x: 220 - x)

def df_cardiac_response(x):
    if x['bpm']*0.85 <= x['thalch']:
        return 'Bom'
    elif x['bpm'] < x['thalch']:
        return 'Acima'
    else:
        return 'Ruim'
    
df['freqCard'] = df.apply(df_cardiac_response, axis=1)

In [91]:
df['FaixaEtaria'] = df['age'].apply(lambda x: 'Adulto' if x < 65 else 'Idoso')

In [92]:
#df.drop('id', axis=1, inplace=True)
#df.drop('bpm', axis=1, inplace=True)
#df.drop('thalch', axis=1, inplace=True)
#df.drop('oldpeak', axis=1, inplace=True)

In [93]:
#colsBool = ['fbs', 'exang', 'Cardio', 'HT', 'freqCard']
#df[colsBool] = df[colsBool].astype('bool')
colsCat = ['sex', 'dataset', 'cp', 'restecg', 'slope', 'PAS', 'colest', 'num', 'FaixaEtaria', 'Cardio']
df[colsCat] = df[colsCat].astype('category')
df.info()
df.to_csv('heartdiseaseAtt.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           920 non-null    int64
 1   age          920 non-null    int64
 2   sex          920 non-null    category
 3   dataset      920 non-null    category
 4   cp           920 non-null    category
 5   trestbps     920 non-null    float64
 6   chol         920 non-null    float64
 7   fbs          920 non-null    bool
 8   restecg      920 non-null    category
 9   thalch       920 non-null    float64
 10  exang        920 non-null    bool
 11  oldpeak      920 non-null    float64
 12  slope        920 non-null    category
 13  num          920 non-null    category
 14  Cardio       920 non-null    category
 15  PAS          920 non-null    category
 16  HT           920 non-null    object
 17  colest       920 non-null    category
 18  bpm          920 non-null    int64
 19  freqCard     920 non-null    object
 20  FaixaEtaria  920 non-null    category
dtypes: bool(2), category(10), float64(4), int64(3), object(2)
memory usage: 77.1+ KB

In [ ]:
#df.to_csv('heartdiseaseAtt.csv', index=False)